* {
  font-family: "Popppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-image:url(/images/background-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  margin: 0;
}

.row {
  padding-right: 0px;
  margin-right: 0px ;
}

/* Navbar Section */
.navbar {
  margin-left: 25px;
  margin-top: 5px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .feature {
  width: 100%;
}

.navbar .feature .row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar .feature .row a {
  color: black;
  font-size: 1.6rem;
  transition: 0.5s;
}

.navbar .feature .row a:hover {
  font-size: 1.8rem;
}

/* HERO SECTION */
.banner{
  display: flex;
  align-items: center;
  min-height: calc(100vh - 93.6px);
}

.banner>* {
  flex: 1 1 25em;
}

.hero{
  margin-left: 50px;
}


.banner h1{
  font-weight: 10;
  font-size: clamp(40px, 50vw, 70px);
}

.row{
  display: flex;
}

.row img{
  width: 10em;
  margin-left: 400px;
}

.kontak {
  padding-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}

.kontak h2{
  font-size: 36px;
  margin-bottom: 40px;
}

.list-kontak{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.card{
  background-color: white;
  width: 5em;
}

.card a{
  display: flex;
  flex-direction: column;
  /* width: 10em; */
}