* {
  font-family: "Popppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-image: url(/images/background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Navbar Section */
.navbar {
  background-color: white;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.navbar .feature {
  width: 100%;
}

.navbar .feature .row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar .feature .row a {
  color: black;
  font-size: 1.6rem;
  transition: 0.5s;
}

.navbar .feature .row a:hover {
  font-size: 1.8rem;
}

/* HERO SECTION */
